{% block content %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGkDFRGKLkyK_V2BIqTsrp_BiD-8Eo1-8&callback=initMap" async defer></script>
    <title>Food Link - CS 411 Project</title>

</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">Food Link</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" id="home" href="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link" id="login" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" id="signUp" href="/sign-up">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" id="logout" href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Container -->
    <div class="container mt-4">
    

    <!-- Input and check box -->
    <section id="recipe-search">
        <h2 class="text-info">Find a Recipe</h2>

        <div class="container">
        <div class="row g-3">
        <div class="col-md-6">
            <div class="input-group mb-3 text-info">
            <!-- input food description -->
            <form action="https://www.allrecipes.com/search/" method="GET" target="_blank" >
                <div class="input-group-append">
                    <input type="text" name="q" placeholder="Search for recipes..." required="required" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-info" type="submit" >Search</button>
                </div>
            </form>
        </div></div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
        <div class="d-flex justify-content-center align-items-center h-50">
            <!-- input city or zipcode -->
            <input type="text" id="zipcode" class="form-control" placeholder="Enter city or zipcode" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-info" type="button" id="search-restaurant-button" onclick="searchRestaurant()">Search</button>
        </div>

            <!-- check box -->
        <div class="d-flex align-items-center h-50">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check1">
            <label class="form-check-label" for="gridCheck">
                Food Pantries
            </label>
            </div>
            <div class="px-3"></div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check2">
            <label class="form-check-label" for="gridCheck">
                Community Meal Program
            </label>
        </div></div>
        </div>
    </section>
    <div class="mb-4"></div>


    <div class="container">
    <div class="row">
    <div class="col-md-6">
    <section id="nutritional-info">
        <!-- Nutritional information will be displayed here upon selecting a recipe -->
        <h2 class="text-info">Nutritional Information</h2>
        <div class="border p-3 bg-light text-info">
            <p id="recipe"> Tell us some discriptions to get respond. </p>
        </div>
    </section></div>

    <div class="col-md-1"></div>

    <div class="col-md-5">
    <section id="recipe-results">
        <!-- Results from the recipe API will be displayed here -->
        <!-- chatgpt respond -->
        <h2 class="text-info">Recipe Suggestions</h2>
        <div class="border p-3 bg-light text-info">
            <p id="chatgpt">Tell us some discriptions to get respond. </p>
        </div> 
    </section></div></div>
    <div class="mb-4"></div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </div>


    <section id="map">
        <h2 class="text-info">Nearby Restaurants</h2>
        <div id="google-map" style="height: 400px; width: 98%;">
            <!-- Google Maps will be rendered here -->
        </div>
        
    </section>
    <div class="mb-5"></div>


    </div>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-dark text-white text-center">
        <div class="container">
            <span>&copy; 2024 Food Link - CS 411 Project. All Rights Reserved.</span>
        </div>
    </footer>

    <!-- JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGkDFRGKLkyK_V2BIqTsrp_BiD-8Eo1-8&callback=initMap" async defer></script>

</body>
{% endblock %}